.about-img{
    height: 70%;
    width: 70%;
    position: relative;
    top:-17%;
}

.name-div{
    padding-top: 150px;
    width: 30%;
}

.profile-about{
display: flex;
padding-left: 30px;
padding-bottom: 90px;
}

.img-about{
    padding-left: 100px;
}

.about-page{
    width: 50%; 
    height:100%;
}

.name{
    padding-left: 30px;
    font-size: 40px;
    color: #274C77 ;
    border-left: #274C77 2px solid;
}

.about-contain{
    padding-left: 40px;
}

