.form{
    display: flex;
    justify-content: left;
    padding-left: 60px;
}

.contact-me{
    padding-top: 190px;
    display: flex;
    justify-content: left;
    padding-left: 60px;
    font-size: 20px;
}