    @keyframes fade {
    from {background-color: transparent;}
    to {background-color:#274C77 }
  }
  
  .video{
    width: 100%;
    height: 100%;
  }
    
  .contact{
    font-size: 25px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
  
  
  .office1{
    height: 40%;
    width:40%;
  }
  
 .iframe-mock-home{
   padding-bottom: 60px;
 }