.App {
  text-align: center;
}

.git-icon{
  color: turquoise;
  height: 40vmin;
}

.App-logo {
  height: 40vmin;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes fade {
  from {background-color: #4cc2e2;}
  to {background-color: transparent}
}

.App-link {
  color: #4cc2e2;
  text-decoration: none;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.nav, .nav-div, .App{
  background-color: transparent;
}

.nav{
position: fixed;
top: 0;
left: 0;
right: 0;
animation-name: fade;
animation-duration: 4s;
z-index: 100;
}

.nav-page{
  text-decoration: none;
  color: black;
  font-size: 25px;
  padding: 25px;
}
nav > ul {
  display: flex;
  margin: 0;
}

nav a {
  color: transparent;
  display: inline-block;
  padding: 20px;
}

a, ul, li {
  list-style-type: none;
}

.thais{
display: flex;
justify-content: center;
border-radius: 100%;
}

.img{
  display: flex;
  justify-content: center;
}


.about{
padding-top: 70px;
padding-bottom: 40px;
background-color: white;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
width: 50%; 
height:100%;
bottom: 0; 
display: block;
position: static;
background-color: rgba(218, 241, 247, 0.6) ;
animation-name: example;
animation-duration: 4s;
border-radius: 20px;
color: black;
padding: 0.5em;

}

.contact-div{
display: flex;
justify-content: center;
}

.profile{
  font-size: 30px;
  padding-top: 20px;
  
}

.profile-wrapper{
  background-image: url(compass.jpeg);
  background-color: rgba(255,255,255,0.6);
  background-blend-mode: lighten;
  background-position: center center;
  background-repeat:  no-repeat;
  background-attachment: fixed;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: black;
}

.video{
  width:100%;
  height:100%;
}

.logo{
  height: 300px;
  width: 300px;
}

.nav{
  display: flex;
}

.contact{
  padding-top: 130px;
}

